.st-emotion-cache-j5r0tf{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: whitesmoke;
}

.diagnosis{
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
}

.diagnosis.benign{
    background-color: green;
}

.diagnosis.malignant{
    background-color: #ff4b4b;

}